<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map Click Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forest Fire Prediction</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css')}}"
    />
    <style>
      #mapid {
        height: 300px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <img
          src="{{ url_for('static', filename = 'images/header-text.png')}}"
          alt=""
        />
        <h1>ALGERIAN FOREST FIRE PREDICTION</h1>
        <img
          src="{{ url_for('static', filename = 'images/dots.png')}}"
          alt=""
        />
      </div>
      <h2>
        Project by Aimen CHAIB
        <div class="contact-details">
          <a
            href="https://github.com/aymench15?tab=repositories"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="{{ url_for('static',filename='images/Github.png') }}" />
          </a>
          <a
            href="https://www.linkedin.com/in/aimen-chaib-a13799238/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="{{ url_for('static',filename='images/linkedin.png') }}" />
          </a>
        </div>
      </h2>
      <div id="containerr">
        <div id="mapid"></div>
      </div>
      <style>
        .containerr {
          width: 960px;
          background: rgba(11, 13, 24, 0.6);
          margin: 50px auto;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          -o-border-radius: 10px;
          -ms-border-radius: 10px;
        }
      </style>
      <center>
        <p id="coordinates">Click on the map to get coordinates</p>
        <button id="api">Treat it</button>
      </center>

      <div class="container">
        <h3>Fire Prediction (Classification Model)</h3>
        <form
          action="{{ url_for('predict')}}"
          id="booking-form"
          class="booking-form"
          method="POST"
        >
          <div class="form-group">
            <div class="form-Temperature">
              <label for="Temperature">Temperature</label>
              <input
                type="text"
                id="Temperature"
                name="Temperature"
                placeholder="Temperature"
              />
            </div>
            <div class="form-Ws">
              <label for="Ws">WindSpeed</label>
              <input type="text" id="Ws" name="Ws" placeholder="Wind speed" />
            </div>
            <div class="form-FFMC">
              <label for="FFMC"> Fuel Moisture Code </label>
              <input type="text" id="FFMC" name="FFMC" placeholder="FFMC" />
            </div>
            <div class="form-DMC">
              <label for="DMC">Duff Moisture Code</label>
              <input type="text" id="DMC" name="DMC" placeholder="DMC" />
            </div>
            <div class="form-ISI">
              <label for="ISI">Initial Spread Index </label>
              <input type="text" id="ISI" name="ISI" placeholder="ISI" />
            </div>
            <div class="form-submit">
              <input type="submit" id="submit" class="submit" value="Predict" />
            </div>
          </div>
          {{prediction_text1}}
        </form>
      </div>
      <div class="container">
        <h3>Fire Weather Index Prediction (Regression Model)</h3>
        <form
          action="{{ url_for('predictR')}}"
          id="Reg_form"
          class="booking-form"
          method="POST"
        >
          <div class="form-group">
            <div>
              <label for="Temperature1">Temperature</label>
              <input
                type="text"
                id="Temperature1"
                name="Temperature"
                placeholder="Temperature"
              />
            </div>
            <div>
              <label for="Wind_speed">Windspeed</label>
              <input
                type="text"
                id="Wind_speed"
                name="Wind_speed"
                placeholder="Wind speed"
              />
            </div>
            <div>
              <label for="FFMC1">Fuel Moisture Code</label>
              <input type="text" id="FFMC1" name="FFMC" placeholder="FFMC" />
            </div>
            <div>
              <label for="DMC1">Duff Moisture Code</label>
              <input type="text" id="DMC1" name="DMC1" placeholder="DMC" />
            </div>
            <div>
              <label for="ISI1">Initial Spread Index</label>
              <input type="text" id="ISI1" name="ISI1" placeholder="ISI" />
            </div>
            <div class="form-submit">
              <input
                type="submit"
                id="submitR"
                class="submit"
                value="Predict"
              />
            </div>
          </div>
          {{prediction_text2}}
        </form>
      </div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      var map = L.map("mapid").setView([58, 16], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var marker;
      var lat;
      var long;
      var onMapClick = (e) => {
        if (marker) {
          map.removeLayer(marker);
          lat = "";
          long = "";
        }
        marker = L.marker(e.latlng).addTo(map);
        lat = e.latlng.lat.toFixed(6);
        long = e.latlng.lng.toFixed(6);
        document.getElementById("coordinates").textContent =
          "Latitude: " +
          e.latlng.lat.toFixed(6) +
          ", Longitude: " +
          e.latlng.lng.toFixed(6);
      };

      map.on("click", onMapClick);

      var element;
      function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleDateString();
      }

      // Function to extract and format parameter values
      function getParameterValues(parameterName, timeSeries) {
        const parameter = timeSeries.parameters.find(
          (p) => p.name === parameterName
        );
        return parameter ? parameter.values[0] : "-";
      }

      // function getParameterValues(parameterName, timeSeries) {
      // const values = [];
      //for (const entry of timeSeries) {
      // const parameter = entry.parameters.find(p => p.name === parameterName);
      //if (parameter) {
      // values.push(parameter.values[0]);
      //} else {
      // values.push("-");
      //}
      // }
      // return values.join(", ");
      // }
      document.getElementById("api").addEventListener("click", async (e) => {
        console.log("hello");
        var text = "Aimen CHAIB";
        console.log(lat, long);
        console.log(typeof lat);
        console.log(
          "https://opendata-download-metfcst.smhi.se/api/category/fwif1g/version/1/daily/geotype/point/lon/" +
            long +
            "/lat/" +
            lat +
            "/data.json"
        );
        //fetch("/api/category/fwif1g/version/1/hourly/geotype/point/lon/2.250475/lat/52.500440/data.json") // Replace this URL with your API URL
        await fetch(
          "https://opendata-download-metfcst.smhi.se/api/category/fwif1g/version/1/daily/geotype/point/lon/" +
            long +
            "/lat/" +
            lat +
            "/data.json"
        )
          .then((response) => response.json())
          .then(async (data) => {
            console.log(data);
            await fetch("/api", {
              method: "POST",
              body: JSON.stringify({ data }),
              headers: { "Content-Type": "application/json" },
            })
              .then(async (data) => {
                console.log("hello response");
                data = await data.json();
                console.log(data);

                // Function to extract and format parameter values

                const today = new Date().toLocaleDateString();

                // Find the time series for today and current time
                const currentTimeSeries = data.timeSeries.find(
                  (ts) => formatDate(ts.validTime) === today
                );

                if (currentTimeSeries) {
                  const validTime = formatDate(currentTimeSeries.validTime);
                  const fwiindex = getParameterValues(
                    "fwiindex",
                    currentTimeSeries
                  );
                  const fwi = getParameterValues("fwi", currentTimeSeries);
                  const isi = getParameterValues("isi", currentTimeSeries);
                  const bui = getParameterValues("bui", currentTimeSeries);
                  const ffmc = getParameterValues("ffmc", currentTimeSeries);
                  const dmc = getParameterValues("dmc", currentTimeSeries);
                  const dc = getParameterValues("dc", currentTimeSeries);
                  const t = getParameterValues("t", currentTimeSeries);
                  const wd = getParameterValues("wd", currentTimeSeries);
                  const ws = getParameterValues("ws", currentTimeSeries);
                  const r = getParameterValues("r", currentTimeSeries);
                  const grassfire = getParameterValues(
                    "grassfire",
                    currentTimeSeries
                  );
                  const rn = getParameterValues("rn", currentTimeSeries);
                  const prec24h = getParameterValues(
                    "prec24h",
                    currentTimeSeries
                  );

                  console.log("Data for today and current time:");
                  console.table({
                    validTime,
                    fwiindex,
                    fwi,
                    isi,
                    bui,
                    ffmc,
                    dmc,
                    dc,
                    t,
                    wd,
                    ws,
                    r,
                    grassfire,
                    rn,
                    prec24h,
                  });
                  document.getElementById("Temperature").value = t 
                  document.getElementById("Temperature1").value = t 
                  document.getElementById("Ws").value = ws
                  document.getElementById("Wind_speed").value = ws
                  document.getElementById("FFMC").value = ffmc
                  document.getElementById("FFMC1").value = ffmc
                  document.getElementById("DMC").value = dmc
                  document.getElementById("DMC1").value = dmc
                  document.getElementById("ISI").value = dmc
                  document.getElementById("ISI1").value = isi
                } else {
                  console.log("No data found for today and current timee.");
                }
                //  location.assign('/Page');
              })
              .catch((err) => console.log("error =  ", err));
          })
          .catch((error) => console.error(error));
      });
    </script>
  </body>
</html>
